@using HediyeniSec.Models.Siniflar
@model List<IcimdenGeldi>
<div class="con-bot">
    @foreach (var x in Model)
    {
    <div class="left">
        <div class="bot-left">
            <img src="@x.Image"  style="width:300px; height:150px;" alt="" />
        </div>
        <div class="left-text">
            <h4>@x.Baslik</h4>
            @*<span class="doller">$1024.99</span>*@
            <p>@x.Aciklama.Substring(0,80)</p>
            <p><a href="/IcimdenGeldi/ArkadasDetay/@x.ID"><span class="read">Devamını Oku >></span></a></p>
        </div>
    </div>
    }
    @Html.Action("Partial2","Default")
   
    <div class="clear"></div>
</div>