
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<br />
<div class="contact">
    <div class="wrap">
        <div class="contact-top">
            <h2>İletişim</h2>
            <p> <h1>Öneri ve şikayetleriniz için bize mail gönderebilirsiniz.</h1> </p>
            <br />
            <p> <h1> <a href="mailto:hediyenisec21@gmail.com"> MAİL GÖNDER</a></h1></p>
            <br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br /> <br />
        </div>
    </div>
</div>



