@using HediyeniSec.Models.Siniflar
@model List<IcimdenGeldi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Fikirler</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>AÇIKLAMA</th> 
        <th>SİL</th>
        <th>GÜNCELLE</th>
       
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.Baslik</td>
    <td>@x.Aciklama</td>

    <td><a href="/Admin/FikirSil/@x.ID" class="btn btn-danger">SİL</a></td>
    <td><a href="/Admin/FikirGetir/@x.ID" class="btn btn-warning">GÜNCELLE</a></td>
</tr>
    }
</table>
<a href="/Admin/YeniFikir/" class="btn btn-primary"> Yeni Fikir</a>

